@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}

::-webkit-scrollbar {
    background-color: #f1f1f1; /* Scrollbar arka plan rengi */
}

::-webkit-scrollbar-thumb {
    background-color: #1f242d; /* Scrollbar başlığı rengi */
}

.menunavbar li {
    color: white;
    font-size: 1.2rem;
    margin-left: 2rem;
    transition: 0.4s ;
}

.menunavbar li:hover,
.menunavbar li:active {
    color: #0284c7;
    transform: scale(1.1)
}


.mobilemenu li {
    color: white;
    font-size: 1.5rem;
    transition: 0.4s ;
}

.mobilemenu li:hover,
.mobilemenu li:active {
    color: #0284c7;
    transform: scale(1.1)
}

